* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --bg-color : #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7;
}

body.dark-blue {
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body.dark-pink {
  --bg-color : #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body.dark-blueviolet {
  --bg-color : black;
  --text-color: white;
  --primary-color: blueviolet;
  --primary-color-dark: rgb(99, 18, 175);
}

body.dark-yellow {
  --bg-color : rgba(199, 15, 190, 0.952);
  --text-color: black;
  --primary-color: rgba(255, 255, 0, 0.781);
  --primary-color-dark: rgb(146, 146, 16);
}

body.dark-green {
  --bg-color : rgb(148, 224, 148);
  --text-color: white;
  --primary-color: rgba(9, 68, 9, 0.705);
  --primary-color-dark: rgba(2, 29, 2, 0.705);
}
body.dark-grey {
  --bg-color : rgba(58, 57, 57, 0.418);
  --text-color: white;
  --primary-color: rgb(116, 113, 113);
  --primary-color-dark: rgb(58, 57, 57);
}
body.dark-gradiente {
  --bg-color: linear-gradient(to right, #5953C9, #C13993, #FB9447);
  --text-color: white;
  --primary-color: linear-gradient(to right, #3a3680, #851760, #ac6027);
  --primary-color-dark: linear-gradient(to right, #433f8a, #5a093f, #4e2708);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}

h1 {
  font-size: 32px;
  color: var(--text-color);
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--text-color);
  background: var(--primary-color);
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;
  padding-left: 95px;

  transition: background 400ms;
}

ul li a:hover{
  background: var(--primary-color-dark);
}

ul li a i {
  padding-right: 10px;
  font-size: 2em;
}

footer {
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}





